<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class = "container">

<h1 th:text="${title}">Default Title</h1>


<form method="post" style = "..." th:object="${user}">
    <div class = "form-group" >
        <label th:for = "username">Name</label>
        <input class = "form-control" th:value="*{username}" />
        <span th:errors="*{username}" class = "error"></span>
    </div>
    <div class = "form-group">
        <label th:for = "password">Password</label>
        <input class = "form-control" th:value="*{password}" type = "password"/>
        <span th:errors="*{password}" class = "error"></span>
    </div>
    <div class = "form-group">
        <label>Verify Password</label>
        <input class = "form-control" type = "password" name = "verify"/>
        <span th:text="${error}" class = "error"></span>
    </div>
    <div class = "form-group">
        <label th:for ="email">Email</label>
        <input class = "form-control" type = "email" th:value="*{email}"/>
        <span th:errors="*{email}" class = "error"></span>
    </div>
    <input type = "submit" value = "Sign up!"/>
    <input type="hidden" th:field="${user.userId}" name="userId" />
</form>

</body>
</html>